body {
  width: 100%;
  height: 100vh;
  background-color: #FFF2F2;
  color: #471515;
}

.dark-mode {
  background-color: black !important;
}

.container {
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.first-section,
the-second-section,
third-section {
  display: flex;
  justify-content: center;
}

.icon {
  padding-top: 0.5rem;
}

.title {
  display: flex;
  justify-content: space-around;
  width: 9rem;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #FFD9D9;
  margin-bottom: 2rem;
}

.time {
  font-size: 18rem;
  line-height: 14rem;
  margin-bottom: 2rem;
}

.btn {
  background-color: #FFD9D9;
  border: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

.btn-pause {
  background-color: #FF6E6E;
  width: 8rem;
  height: 6rem;
}

.setting {
  display: none;
  width: 28rem;
  position: absolute;
  background-color: #FFF2F2;
  border-radius: 2rem;
}

.setting-items_items {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1.5rem;
  row-gap: 1.5rem;
}

.setting-items-item-selected {
  display: flex;
  justify-content: end;
}

#noDisplay {
  background-color: initial;
  border: 0px;
  color: inherit;
}

.input {
  width: 6rem;
  height: 2.5rem;
  text-align: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #471515;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type=number] {
  background-color: inherit;
  color: inherit;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
input[type=number]::-webkit-inner-spin-button {
  opacity: 0.8;
  height: 3rem;
  padding: 8px;
}
.menu {
  display: none;
  position: absolute;
  bottom: 10rem;
  width: 16rem;
  height: 10rem;
  background-color: #FFF2F2;
  padding: 1rem;
  border-radius: 1rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}

.menu-item_left {
  display: flex;
  justify-content: center;
}

span {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 4px;
}

.menu-item-right {
  color: #ccc;
}

.svg-menu {
  padding-top: 14px;
  padding-right: 14px;
}

.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  opacity: 0;
  transition:
    opacity 500ms,
    transform 500ms;
}

.toast.visible {
  transform: translateY(0);
  opacity: 1;
}

.toast-body {
  margin: 28px;
  padding: 20px 24px;
  font-size: larger;
  background-color: #471515;
  color: #FF6E6E;
  border-radius: 4px;
}
